.custom-cursor {
  position: fixed;
  pointer-events: none;
  width: 15px;
  height: 15px;
  background: rgba(0, 118, 235, 0.608);
  border: 2px solid #00f0ff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease, width 0.15s ease, height 0.15s ease, background 0.2s ease, border 0.2s ease;
  z-index: 9999;
  box-shadow: 0 0 8px #00f0ff, 0 0 12px rgba(0, 150, 255, 0.5);
}

/* Cursor grows slightly when hovering */
.custom-cursor.hovered {
  width: 25px;
  height: 25px;
  background: rgba(0, 200, 255, 0.5);
  border-color: #00f0ff;
  box-shadow: 0 0 12px #00f0ff, 0 0 20px rgba(0, 200, 255, 0.6);
}
